/* CSS Document */

#HospitalTypes ul
{
	list-style-type: none;
    margin: 0;
    padding: 0;
}

#HospitalTypes ul li
{
	display: inline;
	padding-right:5px;
}

#HospitalTypes a
{
    padding: 8px;
	cursor:pointer;
	color:#fff;
	border: solid 1px #0073C6;
}
#HospitalTypes a:hover
{
    color: #FFF;
	cursor: pointer;
	background-color: #0073c6;
	border: solid 1px #00a9e8;
	white-space: nowrap;
}

.MenuActive {
    background-color: #25BE25;
}