.LeafBox
{
	max-width:1000px;
	margin:auto;
	padding:10px;
	background-color: #fff;
	border-radius:  10px;
	-webkit-borrer-radius: 10px;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.2);
}
.QuestionBox
{
    padding:5px;
}
.QuestionLine
{
    float:left; 
    padding-left:5px;
}
.QuestionText
{
    word-wrap: none;
}
.ClearBox
{
    clear:both;
}
.PageChecked
{
	background-color: #009900;
}
.ProgressBar
{
	float: left;
	margin-right: 4px;
	min-width: 80px;
	height: 7px;
	cursor: pointer;
	background-color: #CFCFCF;
}
.ProgressBarActive
{
	float: left;
	margin-right: 4px;
	min-width: 80px;
	height: 7px;
	cursor: pointer;
	background-color: #009900;
}
.HiddenBox
{
	display:none;
}