// Form
.HospitalizationForm {
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
    padding: 25px;
    width: 90%;
    max-width: 900px;
    .ant-input-number {
        width: 50%;
    }
    .form-text-before, .form-text-after {
        label {
            &::after {
                content: ''
            }
        }
    }
    .form-icon {
        float: right;
        font-size: 36px;
        color: #1890ff;
    }
}

// Confirm Popup
.ant-popover {
    .ant-popover-message-title {
        padding-left: 60px;
    }
}